<!DOCTYPE HTML>
<html>
<head>
    <title>模型训练日志</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page
            socket.on('log_size_response', function(msg, cb) {
                $('#log_size').append('<br>' + $('<div/>').text('Received #' + ': ' + msg.data).html());
                if (cb)
                    cb();
            });
            socket.on('join_room_response', function(msg, cb) {
                $('#join_room').append('<br>' + $('<div/>').text('Received #' + ': ' + msg.data).html());
                if (cb)
                    cb();
            });
            socket.on('model_train_log_response', function(msg, cb) {
                $('#model_log').append('<br>' + $('<div/>').text('Received #' + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            // window.setInterval(function() {
            //     start_time = (new Date).getTime();
            //     $('#transport').text(socket.io.engine.transport.name);
            //     socket.emit('my_ping');
            // }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong_response', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#model_train_log').submit(function(event) {
                socket.emit('model_train_log_event', {room: $('#room_name').val(), job_id: $('#job_id').val(), type:
                        $('#type').val(), begin: $('#begin').val(), end: $('#end').val()});
                return false;
            });
            $('form#close').submit(function(event) {
                socket.emit('close_room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>模型训练日志</h1>
    <p>
      Async mode is: <b>{{ async_mode }}</b><br>
      Current transport is: <b><span id="transport"></span></b><br>
      Average ping/pong latency: <b><span id="ping-pong"></span>ms</b>
    </p>
    <p>
      join room 加入房间，前端socket.emit 'join', 监听返回数据： socket.on  'join_room_response'<br>
      获取日志，前端socket.emit 'model_train_log_event'，监听返回数据： socket.on  'model_train_log_response' <br>
      leave room,前端socket.emit 'leave'，监听返回数据： socket.on  'leave_response' <br>
        close room,前端socket.emit 'close_room'，监听返回数据： socket.on  'close_room_response' <br>
        断开socket连接，前端 socket.emit 'disconnect'，监听返回数据： socket.on  'disconnect_response' <br>
    </p>

    <h2>Send:</h2>
    <form id="join" method="POST" action='#'>
<!--        <input type="text" name="join_room" id="join_room" placeholder="Room Name">-->
        <input type="submit" value="Join Room">
    </form>
    <form id="model_train_log" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="room_name(房间名称，join时返回的room_name)">
        <input type="text" name="job_id" id="job_id" placeholder="job_id">
        <input type="text" name="type" id="type" placeholder="type">
        <input type="text" name="begin" id="begin" placeholder="begin（开始行数）">
        <input type="text" name="end" id="end" placeholder="end（结束行数）">
        <input type="submit" value="get model train logs">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="room_name">
        <input type="submit" value="Leave Room">
    </form>
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="room_name">
        <input type="submit" value="Close Room">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>log_size:</h2>
    <div id="log_size"></div>
    <h2>join_room:</h2>
    <div id="join_room"></div>
    <h2>model_log:</h2>
    <div id="model_log"></div>
</body>
</html>
